#introduction-title{
    -fx-font-family: "Agency FB";
    -fx-text-fill: linear-gradient(to bottom, #44b699, #8d72dc);
}

#introduction-box{
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color:  linear-gradient(to top, #44b699, #8d72dc);
    -fx-background-color: linear-gradient(to right, #f1f1f1, #dec5ff, #dee4ff) ;
    -fx-background-radius: 10;
    -fx-border-insets: -1;
}

#introduction-text{
    -fx-text-fill: linear-gradient(to right, #d43f3a, #8e44ad);
}
